<div class="row">
    <div class="col-xs-12">
        <h1 class="page-title txt-color-blueDark">
            Menu
            <i class="fa fa-angle-right fa-fw "></i>
            <span><a href="#view/pencarian.html">Pencarian Artikel Berita</a></span>
        </h1>
    </div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0"
                 data-widget-colorbutton="false"
                 data-widget-editbutton="false"
                 data-widget-togglebutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-table"></i></span>

                    <h2>Pencarian Artikel Berita</h2>
                </header>
                <!-- widget div-->
                <div style="border-width: 1px 1px 0px">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!--<input type='hidden' id='current_page'/>-->
                    <!--<input type='hidden' id='show_per_page'/>-->
                    <!-- widget content -->
                    <div class="class_toolbar" style="height: 50px">
                        <div id="dt_basic_filter" class="dataTables_filter">
                            <label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input type="search" class="form-control search_rss" id="search_rss"
                                       placeholder="Masukkan kata kunci"
                                       aria-controls="dt_basic" style="width: 500px">
                            </label>

                            <div class="dataTables_info" id="dt_basic_info" role="status" aria-live="polite"
                                 style="float: right">Showing
                                <span class="txt-color-darken">1</span> to <span
                                        class="txt-color-darken limit_entries"></span> of
                                <span class="text-primary entries"></span> entries
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-body class_table">
                    <form class="form-horizontal form_description "></form>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination pagination-sm paging">
                        </ul>
                        <br/>
                    </div>
                </div>
                <div class="widget-body class_form_detail" id="berita_detail">
                    <form class="form-horizontal form_content_detail"></form>
                    <!-- frame-box for iframe sumber berita-->
                    <div class="frame-box">
                        <div class="toggleframe"></div>
                    </div>
                    <!-- end -->
                    <!--<img id="loading" src="img/select2-spinner.gif" alt="Loading">-->
                    <!--<div class="col-sm-6 col-xs-12 hidden-xs">-->
                    <footer class="footer-news-detail">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="submit" class="btn btn-primary btnSubmit"><i class="fa fa-pencil"></i>
                                Masukkan Ke Topik
                            </button>
                            <button type="button" class="btn btn-danger clickme"><i class="fa fa-eye"></i> Lihat Sumber
                            </button>
                        </div>
                    </footer>
                    <!--</div>-->
                </div>
                <div class="modal fade modal_penilaian_berita" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-custom">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Masukan ke topik</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" id="form_master_topic">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="padding: 10px 0 0;">
                                            Nama Quiz<span>*</span>
                                        </label>

                                        <div class="col-sm-10 id_quizes">
                                            <select class="form-control validate[required]"
                                                    name="idQuiz" id="id_quizes"
                                                    onchange="onComboBoxQuizesChange()"
                                                    placeholder="Nama Quiz">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="padding: 18px 0 0;">
                                            Nama Topik<span>*</span>
                                        </label>

                                        <div class="col-sm-10 id-parent">
                                            <select style="margin: 10px 0;" class="form-control validate[required]"
                                                    name="idTopic" id="id_parent"
                                                    onchange="onComboBoxTopikChange()"
                                                    placeholder="Nama Topik">
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                                <button type="button" class="btn btn-success buttonSimpanStagingQuesyionnaire"
                                        data-dismiss="modal">Simpan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade modal_sumber_berita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content iframe_sumber">
                            <div class="modal-header">
                                <h5 class="modal-title">SUMBER BERITA</h5>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                                    Close <i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade modal_isi_berita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">DETAIL BERITA</h4>
                            </div>
                            <div class="modal-body clearfix">
                                <div class="form-row">
                                    <div class="col-md-8">
                                        Mohon isikan alasan penilaian anda
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="keterangan"
                                                  style="width: 100%;background-color: #F1F1F1;border: #DDD"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success simpan_keterangan" type="button" data-dismiss="modal">
                                    Simpan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget div -->
            <!--</div>-->
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">
    pageSetUp();
    var dataParent = []; //sebagai penampung seluruh data yang akan dikirim ke server
    var isRated = false;
    var totalPoint = 0;
    var idQuiz;
    var idTopic;
    var idParent;
    var title;
    var description;
    var publishDate;
    var content;
    var portalName;

    var pagefunction = function () {
        btnClick();
        scrolltop();
        toggleFrame();
        changTextToggle();
        scrollQuest();
        initArtikelContent();
    };

    //    function findArtikelRating() {
    //        $.ajax({
    //            url: BASE_URL + "transaction/artikel/rating?id_artikel=" + getParam('id'),
    //            type: "GET",
    //            contentType: "application/json; charset=utf-8",
    //            crossDomain: true
    //        }).done(function (result) {
    //            if (result.id != undefined) {
    //                isRated = true;
    //                totalPoint = result.totalPoint;
    //                $(".point").text(Math.round(totalPoint * 100) / 100);
    //            }
    //
    //            setupForm();
    //            initArtikelContent();
    //        });
    //    }

    function initArtikelContent() {
        $.ajax({
            url: SOLR_URL + 'rss/select?q=id:"' + getParam('id') + '"&wt=json&indent=true&omitHeader=true',
            type: "GET",
            dataType: "jsonp",
            jsonp: "json.wrf",
            contentType: "application/json; charset=utf-8",
            crossDomain: true
        }).done(function (result) {
            $(".class_table").hide();
            $(".class_toolbar").hide();
            $(".class_form_detail").show();
            $(".form_content_detail").show();
            $(".toggleframe").show();
            $.each(result.response.docs, function (i, value) {
                publishDate = new Date(Date.parse(value.publishDate));
                var formatedDate = formatDate(publishDate);
                title = value.title;
                content = value.content;
                portalName = value.portalName;
                description = value.description;
                var detail = '<ul class="news-detail">' +
                        '<li class="media">' +
                        '<a class="pull-left" href="#"></a>' +
                        '<div class="media-head">' +
                        '<h3 class="title-news">' + title + '</h3> ' +
                        '<div class="link-date-news">' + '<i class="fa fa-calendar-o"></i> ' + formatedDate + '</div>' +
                        '<div class="link-source btn-xs btn-source" href="javascript:void(0);">' +
                        '<i class="fa fa-globe"></i>' + portalName + '</div>' +
                        '</div>';

                if (isRated) {
                    detail += '<div class="rated">' +
                            '<span>Rated</span><i class="fa fa-check-circle"></i>' +
                            '<span class="score">' + totalPoint + '</span>' +
                            '</div>';
                }

                detail += '<div class="media">' +
                        '<a class="pull-left" href="#"></a>' +
                        '<div class="media-body">' +
                        '<p style="text-align: justify; text-indent:50px">' + content + '</p>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</li>' +
                        '</ul>';
                $('.form_content_detail').append(detail);
            });

            $.each(result.response.docs, function (i, value) {
                var detail = '<iframe src="' + value.id + '" frameborder="0" allowfullscreen></iframe>';
                $('.toggleframe').append(detail);
            });
        });
    }

    function scrolltop() {
        $("html, body").animate({scrollTop: 0}, 300);
    }

    function btnClick() {
        $(".btnSubmit").button().click(function () {
            initQuizes();
            initTopik();
            $('.modal_penilaian_berita').modal('toggle');
        });
    }

    // for toggle iframe show and hide
    function toggleFrame() {
        var remove = true;
        $(".clickme").click(function () {
            $(".frame-box").toggleClass('openframe');
            remove = false;
            $("html, body").animate({scrollTop: 0}, 300);
            return false;
        });
        $(".frame-box").click(function () {
            remove = false;
        });
    }

    // change button wiew sumber berita when click
    function changTextToggle() {
        $(".clickme").click(function () {
            $(".clickme").html($(".clickme").html() == '<i class="fa fa-times"></i> Close' ? '<i class="fa fa-eye"></i> Sumber Berita' : '<i class="fa fa-times"></i> Close');
        });
    }

    function initQuizes() {
        $id_quizes = $('#id_quizes');
        $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            },
            url: BASE_URL + "master/quizes",
            dataType: "JSON",
            type: "GET",
            success: function (result) {
                if (typeof(result) === "undefined" || result === null) {
                    $select.html('<p>none available</p>');
                    $(".id_quizes").removeClass('ajax_loader');
                    return;
                }

                $id_quizes.html('');
                $.each(result, function (key, val) {
                    $id_quizes.append('<option value="' + val.id + '">' + val.name + '</option>');
                });

                $(".id_quizes").removeClass('ajax_loader');
                idQuiz = result[0].id; //dapatkan role yang pertama
                console.log("load pertama id_quizes", idQuiz);
            },
            error: function () {
                console.log('idQuiz');
                $id_quizes.html('<option value="">none available</option>');
            }
        });
    }

    function onComboBoxTopikChange() {
        idTopic = $("#id_parent option:selected").val();
    }

    function onComboBoxQuizesChange() {
        idQuiz = $("#id_quizes option:selected").val();
        $idTopik = $('#id_parent');
        $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            },
            url: BASE_URL + "master/topics",
            data: {
                isParent: true,
                idQuiz: idQuiz
            },
            dataType: "JSON",
            type: "GET",
            success: function (result) {
                if (typeof(result) === "undefined" || result === null) {
                    $idTopik.html('<option value="">none available</option>');
                    $(".id-parent").removeClass('ajax_loader');
                    return;
                }

                $idTopik.html('');
                $.each(result, function (key, val) {
                    $idTopik.append('<option value="' + val.id + '">' + val.name + '</option>');
                });

                $(".id-parent").removeClass('ajax_loader');
            },
            error: function () {
                console.log('role');
                $idTopik.html('<option value="">none available</option>');
            }
        });
    }

    function initTopik() {
        $idTopik = $('#id_parent');
        $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            },
            url: BASE_URL + "master/topics",
            data: {
                isParent: true,
                idQuiz: idQuiz
            },
            dataType: "JSON",
            type: "GET",
            success: function (result) {
                if (typeof(result) === "undefined" || result === null) {
                    $idTopik.html('<option value="">none available</option>');
                    $(".id-parent").removeClass('ajax_loader');
                    return;
                }

                $idTopik.html('');
                $.each(result, function (key, val) {
                    $idTopik.append('<option value="' + val.id + '">' + val.name + '</option>');
                });

                $(".id-parent").removeClass('ajax_loader');
                idParent = result[0].id; //dapatkan idParent yang pertama
            },
            error: function () {
                console.log('role');
                $idTopik.html('<option value="">none available</option>');
            }
        });
    }

    function setupForm() {
        var url = "";
        if (isRated) {
            url = BASE_URL + "transaction/questionnaire/generate?id_artikel=" + getParam('id');
        } else {
            url = BASE_URL + "questionnaire/generate";
        }

        $.ajax({
            url: url,
            dataType: "JSON",
            type: "GET",
            success: function (result) {
                $(".class_form").show();
                $("#form_wizard").empty();
                var questionnaireIndex = 0; //sebagai penanda index dari arrray questionnaire
                $.each(result, function (key, data) {
                    var questionnaireDetailIndex = 0; // sebagai penanda index dari array questionnaire detail
                    var rowNumber = parseInt(key) + 1; // sebagai penghitung nomor pada baris
                    var question = data.question;
                    var lengthDetail = data.questionnaireDetails.length;
                    var jsonData = {
                        id: data.id,
                        idArtikel: getParam('id'),  // sementara hardcode seharusnya dapet dari url
                        question: question,
                        questionnaireDetails: []
                    };

                    //gunakan dinamis template untuk menentukan apakah row punya sub atau tidak
                    var formData;
                    if (lengthDetail == 1) { //single record
                        formData = '<div class="single-data-quest">' +
                                '<label name="' + rowNumber + '"  class="number">' + rowNumber + '</label>' +
                                '<label id="question" class="name-input-single">' + question + '</label>';
                    } else { //multi record
                        formData = '<div class="multi-data-quest">' +
                                '<label name="' + rowNumber + '"  class="number">' + rowNumber + '</label>' +
                                '<label id="question" class="name-input-multi">' + question + '</label>';
                    }

                    $(".class_form").append(formData);

                    $.each(data.questionnaireDetails, function (key, val) {
                        var answerQuestion_1 = "";
                        var answerQuestion_2 = "";
                        var valueQuestion_1 = false;
                        var valueQuestion_2 = false;
                        var id = val.id; //id detail
                        var questionnaireDetailName = val.name;

                        // untuk detail answer question
                        var index = 0;
                        $.each(val.answerQuestions, function (key, value) {
                            if (index == 0) {
                                answerQuestion_1 = key;
                                valueQuestion_1 = value;
                                if (lengthDetail == 1) { //single row
                                    $(".class_form").append('<label class="sub-single"><input checked parent-index = ' + questionnaireIndex + ' detail-index = ' + questionnaireDetailIndex + ' detail-value=true type="checkbox" class="check" value=' + 1 + ' id=' + [id + "_" + questionnaireDetailName + "_" + index] + ' name="answerQuestion_' + id + '">' +
                                            '<span>' + answerQuestion_1 + '</span>' +
                                            '</label>');

                                } else {
                                    $(".class_form").append('<label class="name-input-submulti">' + questionnaireDetailName + '</label>' +
                                            '<label class="sub-multi"><input checked parent-index = ' + questionnaireIndex + ' detail-index = ' + questionnaireDetailIndex + ' detail-value=true type="checkbox" class="check" value= ' + (1 / lengthDetail) + ' name="answerQuestion_' + id + '" id=' + [id + "_" + questionnaireDetailName + "_" + index] + ' >' +
                                            '<span>' + answerQuestion_1 + '</span>' +
                                            '</label>');
                                }

                                if (valueQuestion_1 == false) {
                                    $("#" + id + "_" + questionnaireDetailName + "_" + index).removeAttr("checked");
                                }
                            } else {
                                answerQuestion_2 = key;
                                valueQuestion_2 = value;
                                if (lengthDetail == 1) { //single row
                                    $(".class_form").append('<label class="sub-single"><input checked parent-index = ' + questionnaireIndex + ' detail-index = ' + questionnaireDetailIndex + ' detail-value=false type="checkbox" class="check" value=' + 1 + ' id=' + [id + "_" + questionnaireDetailName + "_" + index] + '  name="answerQuestion_' + id + '">' +
                                            '<span>' + answerQuestion_2 + '</span></label>' +
                                            '<hr style="margin-top:20px;">');

                                } else {
                                    $(".class_form").append('<label class="sub-multi"><input checked parent-index = ' + questionnaireIndex + ' detail-index = ' + questionnaireDetailIndex + ' detail-value=false type="checkbox" class="check" value = ' + (1 / lengthDetail) + ' name="answerQuestion_' + id + '" id=' + [id + "_" + questionnaireDetailName + "_" + index] + '  >' +
                                            '<span>' + answerQuestion_2 + '</span>' +
                                            '</label>' +
                                            '</div>' +
                                            '<hr>');
                                }

                                if (valueQuestion_2 == false) {
                                    $("#" + id + "_" + questionnaireDetailName + "_" + index).removeAttr("checked");
                                }
                            }

                            index++;
                        });

                        jsonData.questionnaireDetails.push({
                            id: val.id,
                            point: (1 / lengthDetail),
                            name: questionnaireDetailName,
                            answerQuestions: JSON.parse('{"' + answerQuestion_1 + '":' + valueQuestion_1 + ',"' + answerQuestion_2 + '":' + valueQuestion_2 + '}')
                        });

                        formData += '</div>';
                        questionnaireDetailIndex++;
                    });

                    dataParent.push(jsonData);
                    questionnaireIndex++;
                });

                $(':checkbox').on('change', function () {
                    var check = $(this), name = check.prop('name');
                    if (check.is(':checked')) {
                        $(':checkbox[name="' + name + '"]').not($(this)).prop('checked', false);

                        var selectedDetail = dataParent[this.getAttribute('parent-index')].questionnaireDetails[this.getAttribute('detail-index')]; // ambil selected data in json array
                        var answerQuestions = selectedDetail.answerQuestions; // ambil selected answer question
                        var attrNameX = "{"; // property answerQuestion 1 / bisa true/false
                        var attrNameY = ""; // property answerQuestion 2 / bisa true/false
                        var counter = 0; // sebagai validasi fix property yang akan diubah
                        for (var attrName in answerQuestions) { // karena property dinamis maka perlu dilakukan penambahan secara manual dengan menggunakan for-in
                            if (counter == 0) {
                                //property pertama
                                if (this.getAttribute('detail-value') == "true") {
                                    attrNameX += '"' + attrName + '":' + true + ',';
                                    totalPoint += parseFloat($(this).val());
                                } else {
                                    attrNameX += '"' + attrName + '":' + false + ',';
                                }

                            } else {
                                //property kedua
                                if (this.getAttribute('detail-value') == "true") {
                                    attrNameY += '"' + attrName + '":' + false + '}';
                                } else {
                                    attrNameY += '"' + attrName + '":' + true + '}';
                                    totalPoint -= parseFloat($(this).val());
                                }
                            }

                            counter++;
                        }

                        selectedDetail.answerQuestions = JSON.parse(attrNameX + attrNameY); //replace answerQuestion dengan data baru
                        //console.log("json value : ", JSON.stringify(dataParent[this.getAttribute('parent-index')].questionnaireDetails[this.getAttribute('detail-index')]));
                    } else {
                        $(':checkbox[name="' + name + '"]').not($(this)).prop('checked', true);
                        totalPoint -= parseFloat($(this).val());
                    }

                    console.log('total point', totalPoint);
                    //$(".point").text(Math.round(totalPoint * 100) / 100);
                });
            },
            error: function () {
                console.log('topik');
                $select.html('<option value="">none available</option>');
            }
        });
    }

    function scrollQuest() {
        $('.class_form').slimScroll({
            color: '#ccc',
            height: '450px',
            size: '7px',
            alwaysVisible: true
        });
    }

    // button for save form input
    $(".btn_save_transaksi_questionnaire").button().click(function () {
        var data = [];
        var json = convertFormToJSON($("#input_question"));
        console.log("JSON", JSON.stringify(dataParent));
        $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            },
            type: "POST",
            contentType: "application/json",
            url: BASE_URL + "transaction/questionnaire",
            data: JSON.stringify(dataParent),
            success: function (response) {
                console.log("Response", response);
            }
        })
    });

    // button for save form input
    $(".buttonSimpanStagingQuesyionnaire").button().click(function () {
        var json = convertFormToJSON($("#form_master_topic"));
        var quiz = {id: json.idQuiz}; // for make quiz is object
        var topic = {id: json.idTopic}; // for make quiz is object
        var user = JSON.parse(sessionStorage.getItem('user'));
        var idUser = user.id;
        var createdBy = {id: idUser};

        var data = {
            "link": getParam('id'),
            "portal": {"name": portalName},
            "description": description,
            "content": content,
            "publishDate": publishDate,
            "title": title,
            "topic": topic,
            "createdBy": createdBy,
            "quiz" : quiz
        };
        console.log("DATA", JSON.stringify(data));
        $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            },
            type: "POST",
            contentType: "application/json",
            url: BASE_URL + "transaction/rating/questionnaires",
            data: JSON.stringify(data),
            success: function (response) {
                console.log("Response", response);
            }
        })
    });

    loadScript("js/plugin/slimscroll/jquery.slimscroll.min.js", pagefunction);

</script>

