<div class="row">
    <div class="col-xs-12">
        <h1 class="page-title txt-color-blueDark">
            Menu
            <i class="fa fa-angle-right fa-fw"></i>
            <span><a href="#view/detail-topik-berita.html">Pencarian Artikel Berita</a></span>
        </h1>
    </div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0"
                 data-widget-colorbutton="false"
                 data-widget-editbutton="false"
                 data-widget-togglebutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-table"></i></span>

                    <h2>Pencarian Artikel Berita</h2>
                </header>
                <!-- widget div-->
                <div style="border-width: 1px 1px 0px">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!--<input type='hidden' id='current_page'/>-->
                    <!--<input type='hidden' id='show_per_page'/>-->
                    <!-- widget content -->
                    <div class="class_toolbar" style="height: 50px">
                        <div id="dt_basic_filter" class="dataTables_filter">
                            <label>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input type="search" class="form-control search_rss" id="search_rss"
                                       placeholder="Masukkan kata kunci"
                                       aria-controls="dt_basic" style="width: 500px">
                            </label>

                            <div class="dataTables_info" id="dt_basic_info" role="status" aria-live="polite"
                                 style="float: right">Showing
                                <span class="txt-color-darken">1</span> to <span
                                        class="txt-color-darken limit_entries"></span> of
                                <span class="text-primary entries"></span> entries
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-body class_table">
                    <form class="form-horizontal form_description "></form>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination pagination-sm paging">
                        </ul>
                        <br/>
                    </div>
                </div>
                <div class="widget-body class_form_detail" id="berita_detail">
                    <form class="form-horizontal form_content_detail"></form>
                    <!-- frame-box for iframe sumber berita-->
                    <div class="frame-box">
                        <div class="toggleframe"></div>
                    </div>
                    <!-- end -->
                    <!--<img id="loading" src="img/select2-spinner.gif" alt="Loading">-->
                    <!--<div class="col-sm-6 col-xs-12 hidden-xs">-->
                    <footer class="footer-news-detail">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="submit" class="btn btn-primary btnSubmit"><i class="fa fa-pencil"></i> Beri
                                Nilai
                            </button>
                            <button type="button" class="btn btn-danger clickme"><i class="fa fa-eye"></i> Lihat Sumber
                            </button>
                        </div>
                    </footer>
                    <!--</div>-->
                </div>
                <div class="modal fade modal_penilaian_berita" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Masukan ke topik</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal smart-form quest-form detail-staging"
                                      id="form_master_topic">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Nama Quiz<span>*</span>
                                        </label>

                                        <div class="col-sm-9 name_quiz">
                                            <input type="text" name="quiz" placeholder="Nama Quiz" class="form-control"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Nama Topik<span>*</span>
                                        </label>

                                        <div class="col-sm-9 name_topic">
                                            <input type="text" name="topic" placeholder="Nama Topic"
                                                   class="form-control"
                                                   required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Tanggal Posting<span>*</span>
                                        </label>

                                        <div class="col-sm-9 name_topic">
                                            <input type="text" name="publishDate" placeholder="Tanggal Posting"
                                                   class="form-control"
                                                   required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Media<span>*</span>
                                        </label>

                                        <div class="col-sm-9 name_topic">
                                            <input type="text" name="portal" placeholder="Media" class="form-control"
                                                   required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Judul Berita<span>*</span>
                                        </label>

                                        <div class="col-sm-9 name_topic">
                                            <input type="text" name="title" placeholder="Judul Berita"
                                                   class="form-control"
                                                   required>
                                        </div>
                                    </div>

                                    <fieldset class="input-field class_form">
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-left">
                                    <div class="rated">
                                        <span>skor</span>

                                        <div class="point"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                                <button type="button" class="btn btn-success buttonSimpanRatingQuesyionnaire"
                                        data-dismiss="modal">Simpan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade modal_sumber_berita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content iframe_sumber">
                            <div class="modal-header">
                                <h5 class="modal-title">SUMBER BERITA</h5>
                                <button type="button" class="btn btn-danger buttonSumberBerita" data-dismiss="modal"
                                        aria-label="Close">
                                    Close <i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade modal_isi_berita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">DETAIL BERITA</h4>
                            </div>
                            <div class="modal-body clearfix">
                                <div class="form-row">
                                    <div class="col-md-8">
                                        Mohon isikan alasan penilaian anda
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="keterangan"
                                                  style="width: 100%;background-color: #F1F1F1;border: #DDD"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success simpan_keterangan" type="button" data-dismiss="modal">
                                    Simpan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget div -->
            <!--</div>-->
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->
<script type="text/javascript">
    pageSetUp();
    var jsonData = [];//sebagai penampung data questionnaire yang akan dikirim ke server
    var isRated = false;
    var totalPoint = 0;
    var idQuiz;
    var nameQuiz;
    var idTopic;
    var nameTopic;
    var idParent;
    var title;
    var description;
    var publishDate;
    var content;
    var portalName;
    var link;
    var idArtikel;
    var rating;
    var option1;
    var option2;
    var ratedBy;
    var idRatingDetail;
    var idRatingChildDetail;
    var lengthData;
    var percentageTotal;

    var pagefunction = function () {
        buttonBeriNilaiClick();
        scrolltop();
        toggleFrame();
        changTextToggle();
        scrollQuest();
        initArtikelContent();
    };

    function initArtikelContent() {
        $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            },
            url: BASE_URL + 'transaction/rating/questionnaires?id=' + getParam('id') + '&limit=0&offset=10',
            type: "GET"
        }).done(function (result) {
            $(".class_table").hide();
            $(".class_toolbar").hide();
            $(".class_form_detail").show();
            $(".form_content_detail").show();
            $(".toggleframe").show();
            $.each(result.data, function (i, value) {
                publishDate = new Date(Date.parse(value.publishDate));
                var formatedDate = formatDate(publishDate);
                title = value.title;
                content = value.content;
                portalName = value.portal.name;
                description = value.description;
                idQuiz = value.topic.quiz.id;
                nameQuiz = value.topic.quiz.name;
                idTopic = value.topic.id;
                nameTopic = value.topic.name;
                link = value.link;
                idArtikel = value.id;
                rating = value.rating;
                ratedBy = value.ratedBy.id;
                var detail = '<ul class="news-detail">' +
                        '<li class="media">' +
                        '<a class="pull-left" href="#"></a>' +
                        '<div class="media-head">' +
                        '<h3 class="title-news">' + title + '</h3> ' +
                        '<div class="link-date-news">' + '<i class="fa fa-calendar-o"></i> ' + formatedDate + '</div>' +
                        '<div class="link-source btn-xs btn-source">' +
                        '<i class="fa fa-globe"></i>' + portalName +
                        '</div>' +
                        '<div class="have-rated">' +
                        '<div class="in">' +
                        '<span><i class="fa fa-check-circle"></i> SKOR</span>' +
                        '<span class="point">' + Math.round(rating * 100) / 100 + '</span>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                if (isRated) {
                    detail += '<div class="rated">' +
                            '<span>Rated</span><i class="fa fa-check-circle"></i>' +
                            '<span class="score">' + totalPoint + '</span>' +
                            '</div>';
                }

                detail += '<div class="media">' +
                        '<a class="pull-left" href="#"></a>' +
                        '<div class="media-body">' +
                        '<p style="text-align: justify; text-indent:50px">' + content + '</p>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</li>' +
                        '</ul>';
                $('.form_content_detail').append(detail);
            });

            $.each(result.data, function (i, value) {
                var detail = '<iframe src="' + link + '" frameborder="0" allowfullscreen></iframe>';
                $('.toggleframe').append(detail);
            });

        });
    }

    function scrolltop() {
        $("html, body").animate({scrollTop: 0}, 300);
    }

    //untuk button click beri nilai
    function buttonBeriNilaiClick() {
        $(".btnSubmit").button().click(function () {
            $('.modal_penilaian_berita').modal('toggle');
            var formatedDate = formatDate(publishDate);
            $("input[name='quiz']").val(nameQuiz);
            $("input[name='publishDate']").val(formatedDate);
            $("input[name='portal']").val(portalName);
            $("input[name='topic']").val(nameTopic);
            $("input[name='title']").val(title);

            if (ratedBy !== 0) {
                $.ajax({
                    beforeSend: function (request) {
                        request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
                    },
                    type: "GET",
                    contentType: "application/json",
                    url: BASE_URL + "master/questionnaires?id_artikel=" + idArtikel,
                    success: function (response) {
                        isEdit = true;
                        $(".point").text(Math.round(rating * 100) / 100);
                        lengthData = response.length;
                        showResult(response);
                        //sesuaikan tampilan pada saat show detail
                        $('.add-question').removeClass('visible').addClass('hidden');
                        $('.add-data').removeClass('hidden').addClass('visible');
                        $('.form-container').removeClass('visible').addClass('hidden');
                        $('.button-action').removeClass('visible').addClass('hidden');
                    }
                });
            } else {
                $.ajax({
                    beforeSend: function (request) {
                        request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
                    },
                    type: "GET",
                    contentType: "application/json",
                    url: BASE_URL + "master/questionnaires?id_quiz=" + idQuiz,
                    success: function (response) {
                        isEdit = true;
                        lengthData = response.length;
                        showResult(response);
                        //sesuaikan tampilan pada saat show detail
                        $('.add-question').removeClass('visible').addClass('hidden');
                        $('.add-data').removeClass('hidden').addClass('visible');
                        $('.form-container').removeClass('visible').addClass('hidden');
                        $('.button-action').removeClass('visible').addClass('hidden');
                    }
                });
            }
        });
    }

    function showResult(param) {
        $(".class_form").show();
        $(".class_form").empty();

        var questionnaireIndex = 0; //sebagai penanda index dari arrray questionnaire
        $.each(param, function (index, data) {
            var questionnaireDetailIndex = 0; // sebagai penanda index dari array questionnaire detail
            var rowNumber = parseInt(index) + 1; // sebagai penghitung nomor pada baris
            var question = data.question;
            if (data.ratingQuestionnaireDetail !== undefined) {
                idRatingDetail = data.ratingQuestionnaireDetail.id;
            } else {
                idRatingDetail = 0
            }

            var json = {
                id: data.id,
                question: question,
                answer: "",
                questionnaireDetails: [],
                questionnaireChilds: [],
                ratingQuestionnaireDetail: {id: idRatingDetail}
            };

            if (data.questionnaireDetails.length > 0) {  //single row
                $(".class_form").append('<div class="single-data-quest">' +
                        '<label name="' + rowNumber + '"  class="number">' + rowNumber + '.</label>' +
                        '<label id="question" class="name-input-single">' + question + '</label>');

                $.each(data.questionnaireDetails, function (index, object) {
                    if (index == 0) {
                        if (object.choice == "true") {
                            $(".class_form").append('<label class="checkbox sub-single">' +
                                    '<input parent-index = ' + questionnaireIndex + '  detail-index = ' + questionnaireDetailIndex + ' type="checkbox" detail-value=true class="check" value=' + 1 + ' name="choice_' + question + '" checked><i></i>' +
                                    '<span>' + object.option + '</span>' +
                                    '</label>');
                        } else {
                            $(".class_form").append('<label class="checkbox sub-single">' +
                                    '<input parent-index = ' + questionnaireIndex + '  detail-index = ' + questionnaireDetailIndex + ' type="checkbox" detail-value=true class="check" value=' + 1 + ' name="choice_' + question + '" detail-value=false ><i></i>' +
                                    '<span>' + object.option + '</span>' +
                                    '</label>');
                        }
                    } else {
                        if (object.choice == "true") {
                            $(".class_form").append('<label class="checkbox sub-single">' +
                                    '<input parent-index = ' + questionnaireIndex + '  detail-index = ' + questionnaireDetailIndex + ' type="checkbox" class="check" value=' + 1 + ' name="choice_' + question + '" detail-value=false checked><i></i>' +
                                    '<span>' + object.option + '</span>' +
                                    '</label>' +
                                    '<hr style="margin-top:10px;"></div>');
                        } else {
                            $(".class_form").append('<label class="checkbox sub-single">' +
                                    '<input parent-index = ' + questionnaireIndex + '  detail-index = ' + questionnaireDetailIndex + ' type="checkbox" class="check" value=' + 0 + ' name="choice_' + question + '" detail-value=false><i></i>' +
                                    '<span>' + object.option + '</span>' +
                                    '</label>' +
                                    '<hr style="margin-top:10px;"></div>');
                        }

                    }

                    json.questionnaireDetails = JSON.parse(JSON.stringify(data.questionnaireDetails));
                    questionnaireDetailIndex++;
                });
            } else {
                $(".class_form").append('<div class="multi-data-quest">' +
                        '<label name="' + rowNumber + '"  class="number">' + rowNumber + '.</label>' +
                        '<label id="question" class="name-input-multi">' + question + '</label>');

                var lengthDetail = data.questionnaireChilds.length;
                $.each(data.questionnaireChilds, function (index, data) {
                    if (data.ratingQuestionnaireDetail !== undefined) {
                        idRatingChildDetail = data.ratingQuestionnaireDetail.id;
                    } else {
                        idRatingChildDetail = 0
                    }

                    var jsonDetail = {
                        id: data.id,
                        question: data['question'][index],
                        answer: "*",
                        questionnaireDetails: [],
                        ratingQuestionnaireDetail: {id: idRatingChildDetail}
                    };

                    $(".class_form").append('<label class="name-input-submulti">' + data['question'] + '</label>');
                    var option = data['question'];
                    var indexChild = index;

                    $.each(data['questionnaireDetails'], function (index, object) {
                        var indexOption = index;
                        if (index == 0) {
                            if (object.choice == "true") {
                                $(".class_form").append('<label class="checkbox sub-multi">' +
                                        '<input parent-index = ' + questionnaireIndex + ' child-index = ' + indexChild + '  detail-index = ' + indexOption + ' type="checkbox" detail-value=true class="check" value= ' + (1 / lengthDetail) + ' name="choice_' + option + '" detail-value=false checked><i></i>' +
                                        '<span>' + object.option + '</span>' +
                                        '</label>');
                            } else {
                                $(".class_form").append('<label class="checkbox sub-multi">' +
                                        '<input parent-index = ' + questionnaireIndex + ' child-index = ' + indexChild + '  detail-index = ' + indexOption + ' type="checkbox" detail-value=true class="check" value= ' + (1 / lengthDetail) + ' name="choice_' + option + '" detail-value=false><i></i>' +
                                        '<span>' + object.option + '</span>' +
                                        '</label>');
                            }
                        } else {
                            if (object.choice == "true") {
                                $(".class_form").append('<label class="checkbox sub-multi">' +
                                        '<input parent-index = ' + questionnaireIndex + ' child-index = ' + indexChild + '  detail-index = ' + indexOption + ' type="checkbox" class="check" value= ' + (1 / lengthDetail) + ' name="choice_' + option + '" detail-value=false checked><i></i>' +
                                        '<span>' + object.option + '</span>' +
                                        '</label>' +
                                        '</div>' +
                                        '<hr style="margin-top:10px;">');
                            } else {
                                $(".class_form").append('<label class="checkbox sub-multi">' +
                                        '<input parent-index = ' + questionnaireIndex + ' child-index = ' + indexChild + '  detail-index = ' + indexOption + ' type="checkbox" class="check" value= ' + 0 + ' name="choice_' + option + '" detail-value=false><i></i>' +
                                        '<span>' + object.option + '</span>' +
                                        '</label>' +
                                        '</div>' +
                                        '<hr style="margin-top:10px;">');
                            }
                        }

                        jsonDetail.questionnaireDetails = JSON.parse(JSON.stringify(data.questionnaireDetails));
                    });

                    indexChild++;
                    json.questionnaireChilds.push(jsonDetail);
                });
            }

            jsonData.push(json);
            questionnaireIndex++;

        });

        $(':checkbox').on('change', function () {
            var check = $(this), name = check.prop('name');
            var selectedDetail;
            var attrNameX;
            var attrNameY;
            var counter;
            if (check.is(':checked')) {
                $(':checkbox[name="' + name + '"]').not($(this)).prop('checked', false);
                //check terlebih dahulu apakah kuisioner memiliki child
                if (jsonData[this.getAttribute('parent-index')].questionnaireChilds.length != 0) {
                    selectedDetail = jsonData[this.getAttribute('parent-index')].questionnaireChilds[this.getAttribute('child-index')]; // ambil selected data in json array
                    var questionnaireDetails = selectedDetail.questionnaireDetails[this.getAttribute('detail-index')];
                    attrNameX = "[{"; // property answerQuestion 1 / bisa true/false
                    attrNameY = ""; // property answerQuestion 2 / bisa true/false
                    counter = 0; // sebagai validasi fix property yang akan diubah
                    $.each(selectedDetail.questionnaireDetails, function (index, object) {
                        if (index == 0) {
                            option1 = object.option;
                        } else {
                            option2 = object.option;
                        }
                    });


                    for (var attrName in questionnaireDetails) { // karena property dinamis maka perlu dilakukan penambahan secara manual dengan menggunakan for-in...
                        if (counter == 0) {
                            if (this.getAttribute('detail-value') == "true") {
                                attrNameX += '"option" : ' + '"' + option1 + '",' +
                                        '"choice" : ' + true + ' }' + ',';
                                totalPoint += parseFloat($(this).val());
                            } else {
                                attrNameX += '"option" : ' + '"' + option1 + '",' +
                                        '"choice" : ' + false + ' }' + ',';
                            }
                        } else {
                            if (this.getAttribute('detail-value') == "true") {
                                attrNameY += '{"option" : ' + '"' + option2 + '",' +
                                        '"choice" : ' + false + '}]';
                            } else {
                                attrNameY += '{"option" : ' + '"' + option2 + '",' +
                                        '"choice" : ' + true + '}]';
                                totalPoint -= parseFloat($(this).val());
                            }
                        }

                        counter++;
                    }

                    selectedDetail.questionnaireDetails = JSON.parse(attrNameX + attrNameY);
                } else {
                    selectedDetail = jsonData[this.getAttribute('parent-index')].questionnaireDetails[this.getAttribute('detail-index')]; // ambil selected data in json array
                    attrNameX = "[{"; // property answerQuestion 1 / bisa true/false
                    attrNameY = ""; // property answerQuestion 2 / bisa true/false
                    counter = 0; // sebagai validasi fix property yang akan diubah
                    $.each(jsonData[this.getAttribute('parent-index')].questionnaireDetails, function (index, object) {
                        if (index == 0) {
                            option1 = object.option;
                        } else {
                            option2 = object.option;
                        }
                    });

                    for (var attrName in selectedDetail) { // karena property dinamis maka perlu dilakukan penambahan secara manual dengan menggunakan for-in...
                        if (counter == 0) {
                            if (this.getAttribute('detail-value') == "true") {
                                attrNameX += '"option" : ' + '"' + option1 + '",' +
                                        '"choice" : ' + true + ' }' + ',';
                                totalPoint += parseInt($(this).val());
                            } else {
                                attrNameX += '"option" : ' + '"' + option1 + '",' +
                                        '"choice" : ' + false + ' }' + ',';
                            }
                        } else {
                            if (this.getAttribute('detail-value') == "true") {
                                attrNameY += '{"option" : ' + '"' + option2 + '",' +
                                        '"choice" : ' + false + '}]';
                            } else {
                                attrNameY += '{"option" : ' + '"' + option2 + '",' +
                                        '"choice" : ' + true + '}]';
                                totalPoint -= parseInt($(this).val());
                            }
                        }

                        counter++;
                    }

                    jsonData[this.getAttribute('parent-index')].questionnaireDetails = JSON.parse(attrNameX + attrNameY);
                }
            } else {
                $(':checkbox[name="' + name + '"]').not($(this)).prop('checked', true);
                totalPoint -= parseFloat($(this).val());
            }

            percentageTotal = Math.round((totalPoint / lengthData) * 100);
            $(".point").text(Math.round(rating + percentageTotal));
        });
    }

    // for toggle iframe show and hide
    function toggleFrame() {
        var remove = true;
        $(".clickme").click(function () {
            $(".frame-box").toggleClass('openframe');
            remove = false;
            $("html, body").animate({scrollTop: 0}, 300);
            return false;
        });
        $(".frame-box").click(function () {
            remove = false;
        });
    }

    // change button wiew sumber berita when click
    function changTextToggle() {
        $(".clickme").click(function () {
            $(".clickme").html($(".clickme").html() == '<i class="fa fa-times"></i> Close' ? '<i class="fa fa-eye"></i> Sumber Berita' : '<i class="fa fa-times"></i> Close');
        });
    }

    function scrollQuest() {
        $('.detail-staging').slimScroll({
            color: '#999',
            height: '400px',
            size: '7px',
            alwaysVisible: true
        });
    }

    // button for save form input
    $(".buttonSimpanRatingQuesyionnaire").button().click(function () {
        var user = JSON.parse(sessionStorage.getItem('user'));
        var idUser = user.id;
        var ratedBy = {id: idUser};
        var topic = {id: idTopic}; // for make topic is object
        var data = {
            "id": idArtikel,
            "link": link,
            "portal": {"name": portalName},
            "description": description,
            "content": content,
            "publishDate": publishDate,
            "title": title,
            "topic": topic,
            "rating": percentageTotal,
            "ratedBy": ratedBy,
            "questionnaires": jsonData
        };

        $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            },
            type: "POST",
            contentType: "application/json",
            url: BASE_URL + "transaction/rating/questionnaires",
            data: JSON.stringify(data),
            success: function (response) {
                console.log("Response", response);
                if (response.data == "OK") {
                    setTimeout(function () {
                        location.reload();
                    }, 50);
                }
            }
        })
    });

    loadScript("js/plugin/slimscroll/jquery.slimscroll.min.js", pagefunction);

</script>

