<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">
    <!-- col -->
    <div class="col-xs-12">
        <h1 class="page-title txt-color-blueDark">
            Setting
            <i class="fa fa-angle-right fa-fw "></i>
            <span><a href="#view/portals-item.html">Setting Berita</a></span>
        </h1>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
<!-- widget grid -->
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="padding">
                <div class="widget-body portals-item">
                    <form class="form-horizontal" id="form_news_item">
                        <legend>Input Setting Berita</legend>
                        <div class="content controls form-group">
                            <div class="row" style="display: none">
                                <div class="col-md-2">
                                    <label>ID News Item</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="id" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nama Portal<span>*</span></label>
                                <div class="col-sm-5 name">
                                    <input type="text" name="name" placeholder="Nama Portal" class="form-control"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">URL<span>*</span></label>
                                <div class="col-sm-5 url">
                                    <input type="text" name="url" placeholder="URL" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tag Body<span>*</span></label>
                                <div class="col-sm-5 bodyTag">
                                    <input type="text" name="bodyTag" placeholder="Tag Body" class="form-control"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Exclude Tag</label>
                                <div class="col-sm-5 excludeTag">
                                    <textarea name="excludeTag" class="form-control"
                                              rows="5">script,html,iframe</textarea>
                                </div>
                            </div>
                            <div class="form-group hidden-xs">
                                <div class="col-sm-offset-2 col-sm-5">
                                    <button type="button" class="btn btn-primary btn-save-news-item"
                                            style="float: right">
                                        <i></i> Simpan
                                    </button>
                                    <button type="reset" value="Reset" class="btn btn-warning btn-clear-news-item">Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="dialog-confirm" title="Confirm" hidden>
                <div><p><span class="ui-icon-alert" style="float:left; overflow: hidden; height: 25px">
                </span>Anda yakin akan menghapus data ini?</p></div>
            </div>
            <div class="padding">
                <table id="dt_news_items" class="table table-bordered table-hover" width="100%">
                    <thead>
                    <tr>
                        <td align="center" hidden>ID</td>
                        <td align="center">Nama Portal</td>
                        <td align="center">URL</td>
                        <td align="center">Tag Body</td>
                        <td align="center">Exclude Tag</td>
                        <td align="center">Status</td>
                        <td align="center" rowspan='1' colspan='2'>Actions</td>
                    </tr>
                    </thead>
                </table>
            </div>
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">
    pageSetUp();

    var grid = jQuery("#grid");

    var pagefunction = function () {
        loadDataGrid();
        validateForm();
        styleFocusInput();
    };

    function loadDataGrid() {
        $("#dt_news_items").find("tbody").remove();
        $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            },
            type: "GET",
            url: BASE_URL + "master/portals",
            success: function (json) {
                $("#dt_news_items").append("<tbody class='tbody_news'>");
                $.each(json, function (index, value) {
                    var tr = "<tr>" +
                            "<td class='idPortal' style='display: none' >" + value.id + "</td>" +
                            "<td class='name'>" + value.name + "</td>" +
                            "<td class='url'>" + value.url + "</td>" +
                            "<td class='bodyTag'>" + value.bodyTag + "</td>" +
                            "<td class='excludeTag'>" + value.excludeTag + "</td>" +
                            "<td id='td-status'><button id=" + value.url + " type='button' class='btn btn-labeled btn-success'>" +
                            "<span>Active</span> <i class='fa fa-check-circle'></i>" +
                            "</button></td>" +
                            "<td width='10px'><button class='btn btn-xs btn-primary btn-edit-news-item' id='" + index + "'  data-original-title='Edit Row' >" +
                            "<i class='fa fa-pencil'></i> Edit" + "</button></td>" +
                            "<td width='10px'><button class='btn btn-xs btn-danger btn-delete-news-item' data-original-title='Hapus Row'>" +
                            "<i class='fa fa-times'></i> Hapus" + "</button></td>";

                    $("#dt_news_items").find("tbody").append(tr);

                    linkChecker(value.url); //validasi aktif rss link
                });

                $("#dt_news_items").append("</tbody>");

                $(".btn-edit-news-item").button().click(function () {
                    $("input[name='id']").val($(this).closest("tr").find(".idPortal").text());
                    $("input[name='name']").val($(this).closest("tr").find(".name").text());
                    $("input[name='url']").val($(this).closest("tr").find(".url").text());
                    $("input[name='bodyTag']").val($(this).closest("tr").find(".bodyTag").text());
                    $("textarea[name='excludeTag']").val($(this).closest("tr").find(".excludeTag").text());

                    // focus to form input when click button edit
                    $(".form-control:visible:enabled:first").focus();

                    $('div').removeClass('has-success has-error has-feedback');
                    $('div i').removeClass('glyphicon-ok glyphicon-remove');
                    $('div .help-block').hide();
                });

                // button for delete data Setting Berita
                $(".btn-delete-news-item").button().click(function () {
                    var id = {id: $(this).closest("tr").find(".idPortal").text()};
                    $("#dialog-confirm").dialog({
                        height: 160,
                        modal: true,
                        buttons: {
                            'Cancel': function () {
                                $(this).dialog('close');
                                resetForm();
                            },
                            'Confirm': function () {
                                $.ajax({
                                    beforeSend: function (request) {
                                        request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
                                    },
                                    type: "DELETE",
                                    contentType: "application/json",
                                    url: BASE_URL + "master/portals/delete",
                                    data: JSON.stringify(id),
                                    success: function (response) {
                                        $("#dialog-confirm").dialog('close');
                                        loadDataGrid();
                                        resetForm();
                                    }
                                });
                            }
                        }
                    });
                });

                $("#td-status .btn").button().click(function () {
                    linkChecker(this.id);
                });
            }
        });
    }

    function linkChecker(url) {
        $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            },
            type: "GET",
            url: BASE_URL + "systems/checkUrl?url=" + url,
            success: function (response) {
                if (!response.data) {
                    $("#" + url).removeClass("btn-success").addClass("btn-danger");
                    $("#" + url + " i").removeClass("fa-check-circle").addClass("fa-times-circle");
                    $("#" + url).find('span').text('Refresh');
                }
            }
        });
    }

    function validateForm() {
        $('#form_news_item').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    group: '.name',
                    validators: {
                        notEmpty: {
                            message: 'Wajib di isi'
                        }
                    }
                },
                url: {
                    group: '.url',
                    validators: {
                        notEmpty: {
                            message: 'Wajib di isi'
                        }
                    }
                },
                bodyTag: {
                    group: '.bodyTag',
                    validators: {
                        notEmpty: {
                            message: 'Wajib di isi'
                        }
                    }
                }
            }
        });

    }

    // button for save form input
    $(".btn-save-news-item").button().click(function () {
        var json = convertFormToJSON($("#form_news_item"));
        if (json.name != "" && json.url != "" && json.bodyTag != "" && json.excludeTag != "") {
            $.ajax({
                beforeSend: function (request) {
                    request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
                },
                type: "POST",
                contentType: "application/json",
                url: BASE_URL + "master/portals",
                data: JSON.stringify(json),
                success: function (response) {
                    resetForm();
                    loadDataGrid();
                    infoMessage(MESSAGE_TYPE_SAVE_SUCCESS);
                },
                error: function () {
                    infoMessage(MESSAGE_TYPE_SAVE_FAILED);
                }
            });
        } else {
            infoMessage(MESSAGE_TYPE_SAVE_FAILED);
            $('div').addClass('has-success has-error has-feedback');
            $('div i').addClass('glyphicon-ok glyphicon-remove');
            $('div button i').removeClass('glyphicon-ok glyphicon-remove');
            $('div .help-block').show();
        }
    });

    // button for reset form input
    $(".btn-clear-news-item").button().click(function () {
        resetForm();
    });

    //set all focus when click form input and remove focus when click other
    function styleFocusInput() {
        var removeCss = true;
        $('.form-control').button().click(function () {
            $('.form-control').css({
                'background-color': '#fff',
                'border-color': '#66afe9'
            });

            removeCss = false;
        });
        $("html").click(function () {
            if (removeCss) {
                $(".form-control").css({
                    'background-color': '#fbfbfb',
                    'border-color': '#ccc'
                });
            }

            removeCss = true;
        });
    }

    function resetForm() {
        $('.form-control').prop("disabled", false);
        $('div').removeClass('has-success has-error has-feedback');
        $('div i').removeClass('glyphicon-ok glyphicon-remove');
        $('div .help-block').hide();

        selectedRowData = null;
        $("input[name='id']").val("");
        $("input[name='name']").val("");
        $("input[name='url']").val("");
        $("input[name='bodyTag']").val("");
        $("textarea[name='excludeTag']").val("");
    }

    loadScript("js/plugin/bootstrapvalidator/bootstrapValidator.min.js", pagefunction);

</script>
