<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">
    <!-- col -->
    <div class="col-xs-12">
        <h1 class="page-title txt-color-blueDark">
            Setting
            <i class="fa fa-angle-right fa-fw "></i>
            <span><a href="#view/portals-item.html">Master Topik</a></span>
        </h1>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
<!-- widget grid -->
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="padding">
                <div class="widget-body portals-item">
                    <form class="form-horizontal" id="form_master_topic">
                        <legend style="border-bottom: 1px solid #EEE;overflow: hidden;">
                            Input Master Topik
                        </legend>
                        <div class="content controls form-group">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="padding-top: 15px;">Nama Quiz<span>*</span></label>
                                <div class="col-sm-5 idQuiz">
                                    <select style="margin: 10px 0;" class="form-control validate[required]"
                                            name="idQuiz" id="idQuiz"
                                            onchange="onComboBoxQuizChange()"
                                            placeholder="Nama Quiz">
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="display: none">
                                <div class="col-md-2">
                                    <label>ID Topik</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="id" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nama Topik<span>*</span></label>
                                <div class="col-sm-5 name">
                                    <input type="text" name="name" placeholder="Nama Topik" class="form-control"
                                           required>
                                </div>
                            </div>
                            <div class="form-group hidden-xs">
                                <div class="col-sm-offset-2 col-sm-5">
                                    <button type="button" id="btn_save_master_topic" class="btn btn-primary btn_save_news_item"
                                            style="float: right">
                                        <i></i> Simpan
                                    </button>
                                    <button type="reset" value="Reset" id="btn_clear_master_topic" class="btn btn-warning btn-clear-news-item">Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="dialog-confirm" title="Confirm" hidden>
                <div><p><span class="ui-icon-alert" style="float:left; overflow: hidden; height: 25px">
                </span>Anda yakin akan menghapus data ini?</p></div>
            </div>
            <div class="padding">
                <table id="dt_master_topics" class="table table-bordered table-hover" width="100%">
                    <thead>
                    <tr>
                        <td align="center" hidden>ID</td>
                        <td align="center">Nama Topik</td>
                        <td align="center">Nama Quiz</td>
                        <td align="center" rowspan='1' colspan='2'>Actions</td>
                    </tr>
                    </thead>
                </table>
            </div>
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">
    pageSetUp();

    var grid = jQuery("#grid");
    var idQuiz;

    var pagefunction = function () {
        scrolltop();
        loadDataGrid();
        initQuiz();
        validateForm();
        styleFocusInput();
    };

    function initQuiz() {
        $select = $('#idQuiz');
        $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            },
            url: BASE_URL + "master/quizes",
            dataType: "JSON",
            type: "GET",
            success: function (result) {
                if (typeof(result) === "undefined" || result === null) {
                    $select.html('<p>none available</p>');
                    $(".idQuiz").removeClass('ajax_loader');
                    return;
                }

                $select.html('');
                $.each(result, function (key, val) {
                    $select.append('<option value="' + val.id + '">' + val.name + '</option>');
                });

                $(".idQuiz").removeClass('ajax_loader');
                idQuiz = result[0].id; //dapatkan role yang pertama
                console.log("load pertama", idQuiz);
            },
            error: function () {
                console.log('idQuiz');
                $select.html('<p>none available</p>');
            }
        });
    }

    function onComboBoxQuizChange() {
        idQuiz = $("#idQuiz option:selected").val();
        console.log("idQuiz", idQuiz);
    }

    function loadDataGrid() {
        $("#dt_master_topics").find("tbody").remove();
        $.ajax({
            beforeSend: function (request) {
                request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            },
            type: "GET",
            url: BASE_URL + "master/topics",
            data : {isParent: true},
            success: function (json) {
                $("#dt_master_topics").append("<tbody class='tbody_news'>");
                $.each(json, function (index, value) {
                    var tr = "<tr>" +
                            "<td class='idTopic' style='display: none' >" + value.id + "</td>" +
                            "<td class='name'>" + value.name + "</td>" +
                            "<td class='nameQuiz'>" + value.quiz.name + "</td>" +
                            "<td class='idQuiz' style='display: none' >" + value.quiz.id + "</td>" +
                            "<td width='10px'><button class='btn btn-xs btn-primary btn_edit_master_topic' id='" + index + "'  data-original-title='Edit Row' >" +
                            "<i class='fa fa-pencil'></i> Edit" + "</button></td>" +
                            "<td width='10px'><button class='btn btn-xs btn-danger btn_delete_master_topic' data-original-title='Hapus Row'>" +
                            "<i class='fa fa-times'></i> Hapus" + "</button></td>";

                    $("#dt_master_topics").find("tbody").append(tr);
                });

                $("#dt_master_topics").append("</tbody>");

                $(".btn_edit_master_topic").button().click(function () {
                    console.log("remove attribute disabled");
                    console.log("-----------",$(this).closest("tr").find(".idTopic").text());
                    $("input[name='id']").val($(this).closest("tr").find(".idTopic").text());
                    $("input[name='name']").val($(this).closest("tr").find(".name").text());
                    $("select[name='idQuiz']").val($(this).closest("tr").find(".idQuiz").text());

                    // focus to form input when click button edit
                    $(".form-control:visible:enabled:first").focus();

                    $('div').removeClass('has-success has-error has-feedback');
                    $('div i').removeClass('glyphicon-ok glyphicon-remove');
                    $('div .help-block').hide();
                });

                // button for delete data Master Topik
                $(".btn_delete_master_topic").button().click(function () {
                    var id = {id: $(this).closest("tr").find(".idTopic").text()};
                    $("#dialog-confirm").dialog({
                        height: 160,
                        modal: true,
                        buttons: {
                            'Cancel': function () {
                                $(this).dialog('close');
                                resetForm();
                            },
                            'Confirm': function () {
                                $.ajax({
                                    beforeSend: function (request) {
                                        request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
                                    },
                                    type: "DELETE",
                                    contentType: "application/json",
                                    url: BASE_URL + "master/topics/delete",
                                    data: JSON.stringify(id),
                                    success: function (response) {
                                        $("#dialog-confirm").dialog('close');
                                        loadDataGrid();
                                        resetForm();
                                    }
                                });
                            }
                        }
                    });
                });
            }
        });
    }

    function validateForm() {
        $('#form_master_topic').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    group: '.name',
                    validators: {
                        notEmpty: {
                            message: 'Wajib di isi'
                        }
                    }
                }
            }
        });
    }

    // button for save form input
    $("#btn_save_master_topic").button().click(function () {
        var json = convertFormToJSON($("#form_master_topic"));
        var quiz = {id: json.idQuiz}; // for make quiz is object
        JSON.stringify(json['quiz'] = quiz);
        if (json.name != "") {
            if (json.id == "") {
                json.id = 0;
            } else {
                json.id = parseInt(json.id);
            }

            $.ajax({
                beforeSend: function (request) {
                    request.setRequestHeader('Authorization', sessionStorage.getItem('token'));
                },
                type: "POST",
                contentType: "application/json",
                url: BASE_URL + "master/topics",
                data: JSON.stringify(json),
                success: function (response) {
                    resetForm();
                    loadDataGrid();
                    infoMessage(MESSAGE_TYPE_SAVE_SUCCESS);
                },
                error: function () {
                    infoMessage(MESSAGE_TYPE_SAVE_FAILED);
                }
            });
        } else {
            infoMessage(MESSAGE_TYPE_SAVE_FAILED);
            $('div').addClass('has-success has-error has-feedback');
            $('div i').addClass('glyphicon-ok glyphicon-remove');
            $('div button i').removeClass('glyphicon-ok glyphicon-remove');
            $('div .help-block').show();
        }
    });

    // button for reset form input
    $("#btn_clear_master_topic").button().click(function () {
        resetForm();
    });

    //set all focus when click form input and remove focus when click other
    function styleFocusInput() {
        var removeCss = true;
        $('.form-control').button().click(function () {
            $('.form-control').css({
                'background-color': '#fff',
                'border-color': '#66afe9'
            });

            removeCss = false;
        });
        $("html").click(function () {
            if (removeCss) {
                $(".form-control").css({
                    'background-color': '#fbfbfb',
                    'border-color': '#ccc'
                });
            }

            removeCss = true;
        });
    }

    function resetForm() {
        $('.form-control').prop("disabled", false);
        $('div').removeClass('has-success has-error has-feedback');
        $('div i').removeClass('glyphicon-ok glyphicon-remove');
        $('div .help-block').hide();

        selectedRowData = null;
        $("input[name='id']").val("");
        $("input[name='name']").val("");
    }

    loadScript("js/plugin/bootstrapvalidator/bootstrapValidator.min.js", pagefunction);

</script>
