<configuration>
	<property name="LOG_FILE" value="${log.path}" />

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %p [%c:%L] - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}/log.out</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${log.path}.%d{yyyy-MM-dd}.log.out</fileNamePattern>
			<!-- keep 60 days' worth of history -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %p [%c:%L] - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="${log.springframework}" />

	<logger name="org.springframework.jdbc" level="${log.springframework.jdbc}" />

	<logger name="org.springframework.transaction" level="${log.springframework.transaction}" />

	<logger name="org.apache.commons" level="INFO"/>

	<logger name="org.springframework.web.servlet.mvc" level="${log.org.springframework.web.servlet.mvc}" />

	<logger name="org.apache.http" level="ERROR"/>

    <logger name="id.or.greenlabs.app.api" level="${log.app}"/>

    <logger name="id.or.greenlabs.app.core" level="${log.app}"/>

	<logger name="net.sf.ehcache" level="INFO" />

	<logger name="org.springframework.beans.factory" level="INFO" />

	<logger name="org.springframework.aop.framework" level="INFO" />

	<if condition='"${profile.name}".equals("DEVELOPMENT")'>
		<then>
			<root level="${log.root.level}">
				<appender-ref ref="STDOUT"/>
			</root>
		</then>
		<else>
			<root level="${log.root.level}">
				<appender-ref ref="FILE"/>
			</root>
		</else>
	</if>

</configuration>